body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url("{{ url_for('static', filename='pasto.jpg') }}") no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    width: 100%;
    max-width: 400px;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 20px;
}

.login-box h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.form-control {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    box-shadow: none;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    width: calc(100% - 20px); /* Ajuste para padding */
    margin-left: auto;
    margin-right: auto;
}

.form-control:focus {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-primary {
    background-color: #17a2b8;
    border-color: #17a2b8;
    transition: background-color 0.3s, border-color 0.3s;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    border: none;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #138496;
    border-color: #117a8b;
}

.register-link {
    margin-top: 10px;
    font-size: 14px;
}

.register-link a {
    color: #17a2b8;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}

/* Responsive adjustments */
@media (max-width: 576px) {
    .login-container {
        padding: 10px;
    }

    .form-control {
        padding: 8px;
        font-size: 14px;
    }

    .btn-primary {
        padding: 8px;
        font-size: 14px;
    }

    .register-link {
        font-size: 12px;
    }
}
